* {
  box-sizing: border-box;
}

.legend-wrapper {
  display: flex;
  width: fit-content;
}

.legend-field {
  width: 1rem;
  height: 1rem;
  border: 1px solid black;
}

.seq-legend-colors {
  width: 1rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  background: linear-gradient(#000000, #b22222, #cd8500, #e2e2e2);
}

.seq-legend-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
}

.seq-legend-labels p {
  margin: 0;
  line-height: 1rem;
}

object {
  height: 100vh;
  width: 33%;
}

.row {
  display: flex;
}

.right {
  padding: 0.6rem;
  width: 25%;
}

.left {
  width: 75%;
}
