* {
  box-sizing: border-box;
}

.legend-wrapper {
  display: flex;
  width: fit-content;
}

.legend-field {
  width: 2.5rem;
  height: 1rem;
  border: 1px solid black;
}

.seq-legend-colors {
  width: 1rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  background: linear-gradient(#000000, #b22222, #cd8500, #e2e2e2);
}

.seq-legend-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
}

.seq-legend-labels p {
  margin: 0;
  line-height: 1rem;
}

object {
  height: 100vh;
  width: 33%;
}

.row {
  display: flex;
}

.left {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.svg-wrapper {
  margin: auto 0;
  display: flex;
  align-items: flex-start;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
}

.controls {
  width: fit-content;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
}

#tooltip {
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.75rem;
}
